.profile {
    /* height: 3.5vh; */
    /* background: #2f2f2f2b; */
    /* width: 25vw; */
    gap: 2rem;
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 0.5rem 4.5rem;
    text-decoration: none;
  }
  .profile:hover {
    background: #2f2f2f2b;
  }
  .activeProfile {
    background: #2f2f2f2b;
  }
  .initials {
    border-radius: 50%;
    height: 3.3rem;
    width: 3.2rem;
    background-color: aqua;
  
    /* position: fixed; */
  }
  .selected > p {
    font-size: large;
  }
  /* .gg{
      color: aqua;
    } */