.profile {
  gap: 2rem;
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
  border-radius: 1.5rem;
  padding: 0.5rem 4.5rem;
  text-decoration: none;
}
.profile:hover {
  background: rgba(47, 47, 47, 0.17);
}
.activeProfile {
  background: rgba(47, 47, 47, 0.17);
  border: 1px solid rgba(47, 47, 47, 0.4);
  }
  
.initials {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 50%;
  background-color: #ff79f2;
  color: #fff;
  min-width: 4rem;
  min-height: 4rem;
  aspect-ratio: 1/1;
}

.groupName {
  font-size: 1.5rem;
  font-weight: 500;
}
